.dropdown {
    margin-top: 2rem;
    .dropdown-title {
        cursor: pointer;
        color: white;
        background-color: var(--primary-1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        width: 80%;
        margin: 0 auto;
        border-radius: 5px;
        h3 {
            font-size: 24px;
            font-weight: 500;
            line-height: 35px;
        }
        img {
            width: 24px;
            font-weight: bold;
            transform: rotate(180deg);
        }
        &.opened {
            img {
                transform: rotate(0deg);
            }
        }
    }
    
    .dropdown-infos {
        width: 80%;
        margin: 0 auto;
        background-color: #f6f6f6;
        border-radius: 5px;
        p {
            font-size: 24px;
            line-height: 35px;
            padding: 1rem;
            color: var(--primary-1);
        }
    }
}