.apartment {
    margin: 0 auto;
    max-width: 1250px;
    color: var(--primary-1);
    
    .container-apartment-infos {
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
        h1 {
            font-size: 36px;
            line-height: 51px;
            font-weight: 500;
        }
        h3 {
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;
        }
        .container-tags {
            margin: 1.5rem 0;
            .tag {
                margin-right: 10px;
                background-color: var(--primary-1);
                color: white;
                font-size: 14px;
                line-height: 20px;
                padding: 5px 20px;
                border-radius: 10px;
            }
        }
    }
    
    .host {
        display: flex;
        flex-direction: column;
        .infos-host {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            p {
                text-align: right;
                font-size: 18px;
                margin-right: 10px;
            }
            img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
        }
        .stars {
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;
            .star {
                margin-right: 5px;
                color: aqua;
                &.colorized {
                    color: red;
                }
            }
        }
    }
    .dropdown-container {
        display: flex;
        justify-content: space-between;
        .dropdown {
            width: 47.5%;
            margin-bottom: 1rem;
            .dropdown-title {
                width: 100%;
            }
            .dropdown-infos {
                display: flex;
                align-items: center;
                width: 100%;
            }
        }
    }
}